name: Scheduled Build
on:
  schedule:
    - cron: '00 15 * * *' # Runs every day at 15:00 UTC or 0900 or 1000 CT
  workflow_dispatch:   # Allows you to run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitHub Pages rebuild
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          https://api.github.com/repos/${{ github.repository }}/pages/builds
